@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
  color: lightgray;
}

